
::-webkit-scrollbar {
    height: 4px;
    border-radius: 50%;
    width:4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #383838;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 5px;  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #FF7A00;
  }

  @media (max-width:768px){
    ::-webkit-scrollbar {
      height: 2px;
      border-radius: 50%;
    }
    ::-webkit-scrollbar-track {
      background: transparent;
    }
    }