@media(min-height:769px){
    .tagline-container{
        height:28rem;
    }    
}

@media(max-height:768px){
    .tagline-container{
        height:24rem;
    }
}

@media(max-height:425px){
    .tagline-container{
        height:20rem;
    }
}