@media(min-width:1025px){
    .display-back{
        height:36rem;
    }    
}
@media(max-width:1024px){
    .display-back{
        height:32rem;
    }
}
 
@media(max-width:768px){
    .display-back{
        height:36rem;
    }
}

@media(max-width:425px){
    .display-back{
        height:32rem;
    }
}